<div class="row">
  <div class="col-md-12">
    <%= form_tag(user_path(user), :method => "get", class: "form-inline") do %>
        <div class="form-group">
          <div class="input-daterange input-group" id="datepicker" data-provide="datepicker" data-date-format="yyyy-mm-dd" data-date-todayHighlight="1">
            <%= text_field_tag :min, params[:min], type: "text", class: "form-control", id: "date_min" %>
            <span class="input-group-addon">to</span>
            <%= text_field_tag :max, params[:max], type: "text", class: "form-control", id: "date_max" %>
          </div>
        </div>
        <div class="form-group">
          <%= select_tag "specific_dates", options_for_select([["Select Preset", ""], ['1 Month', '1 Month'], ['3 Months', '3 Months'], ['6 Months', '6 Months'], ['1 Year', '1 Year']]), class: "form-control" %>
        </div>
        <div class="form-group">
          <%= submit_tag "View", class: "btn btn-default" %>
        </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <hr style="background-color:LightGray;color:LightGray;border-color:LightGray">
  </div>
</div>

<%= render 'user_metrics', user_metrics: user_metrics, user_name_link: user.get_name_link %>

<% if (can? :manage, :all) %>
    <%= render 'manager', non_manager_metrics: non_manager_metrics, analysis: analysis %>
<% end %>