<%= javascript_include_tag :defaults, "nested_form" %>
<div class="request_form">
<% if !@request.errors.empty? %>
  <div class="alert alert-error">
    <ul>
      <% @request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
<div class="well">
  <%= nested_form_for @request, html: { multipart: true } do |f| %>
  	<%= f.label :title %><br />
    <%= f.text_field :title %><br /><br />
    <%= f.label :name, 'Submitted By' %><br />
    <%= f.text_field :name %><br /><br />
    <%= f.label :description %><br />
    <%= f.text_area :description %><br /><br />
    <%= f.label :attachment_uploader, 'Attachments' %><%= f.file_field :attachment_uploader, :multiple => true, name: "data_files[attachment_uploader][]" %><br />
    <% if can? :read, request %>
      <%= f.label :status %><br />
      <%= f.select :status, [['Pending','Pending'],['Ongoing','Ongoing'],['Complete','Complete']] %><br /><br />
      <%= f.label :assignment %><br />
      <%= f.collection_select :assignment, User.all, :username, :username %><br /><br />
      <%= f.label :attachment_uploader, 'Results' %><%= f.file_field :attachment_uploader, :multiple => true, name: "result_files[attachment_uploader][]" %><br />
    <% end %>
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to 'Cancel', :back, class: "btn btn-warning" %>
  <% end %>
</div>
</div>