<div class="row" style="text-align: center;">
  <div class="col-md-12">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#priority_modal">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#active_modal">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </button>
    <%= link_to "New bioinformatics request", new_request_path, class: "btn btn-default btn-lg " %>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="modal fade" id="priority_modal" tabindex="-1" role="dialog" aria-labelledby="Priority Requests" aria-hidden="true">
      <%= render 'priority', priority_modal: priority_modal %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="modal fade" id="active_modal" tabindex="-1" role="dialog" aria-labelledby="Active Requests" aria-hidden="true">
      <%= render 'active', active_requests: active_requests, max_length: max_length %>
    </div>
  </div>
</div>

<br/>

<div class="row">
  <div class="col-md-12">
    <table id="requests-table" data-source="<%= requests_path(format: :json) %>" class="table table-bordered table-striped">
      <thead>
      <tr>
        <th>ID</th>
        <th>Title</th>
        <th>Submitted By</th>
        <th>Description</th>
        <th>Download Attachment</th>
        <th>Results</th>
        <th>Result Files</th>
        <th>Status</th>
        <th>Status History</th>
        <th>Priority</th>
        <th>Job Assignment</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div>
</div>

<div class="row" style="text-align: center;">
  <div class="col-md-12">
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#priority_modal">
      <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    </button>
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#active_modal">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
    </button>
    <%= link_to "New bioinformatics request", new_request_path, class: "btn btn-default btn-lg " %>
  </div>
</div>

